In [4]:
#import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [5]:
# load the dataset
data_food = pd.read_csv('food_data.csv')
data_food.head()

,Food,Calories,Calories from Fat,Total Fat,Total Fat.1,Sodium,Sodium.1,Potassium,Potassium.1,Total Carbo-hydrate,Total Carbo-hydrate.1,Protein,Vitamin A,Vitamin C,Calcium,Iron,Food Type
0,Asparagus,20,0,0.0,0,0,0,230,7,4,1,2,10,15,2,2,Vegetables
1,Bell Pepper,25,0,0.0,0,40,2,220,6,6,2,1,4,190,2,4,Vegetables
2,Broccoli,45,0,0.5,1,80,3,460,13,8,3,4,6,220,6,6,Vegetables
3,Carrot,30,0,0.0,0,60,3,250,7,7,2,1,110,10,2,2,Vegetables
4,Cauliflower,25,0,0.0,0,30,1,270,8,5,2,2,0,100,2,2,Vegetables

In [6]:
# selecting the independatn and dependant variable
data_food.index = data_food.iloc[:, 0]
X = data_food.iloc[:, 1:16]
y = data_food.iloc[:, 16]

In [7]:
X

,Calories,Calories from Fat,Total Fat,Total Fat.1,Sodium,Sodium.1,Potassium,Potassium.1,Total Carbo-hydrate,Total Carbo-hydrate.1,Protein,Vitamin A,Vitamin C,Calcium,Iron
Food,,,,,,,,,,,,,,,
Asparagus,20,0,0.0,0,0,0,230,7,4,1,2,10,15,2,2
Bell Pepper,25,0,0.0,0,40,2,220,6,6,2,1,4,190,2,4
Broccoli,45,0,0.5,1,80,3,460,13,8,3,4,6,220,6,6
Carrot,30,0,0.0,0,60,3,250,7,7,2,1,110,10,2,2
Cauliflower,25,0,0.0,0,30,1,270,8,5,2,2,0,100,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Scallops,140,10,1.0,2,310,13,430,12,5,2,27,2,0,4,14
Shrimp,100,10,1.5,2,240,10,220,6,0,0,21,4,4,6,10
Swordfish,120,50,6.0,9,100,4,310,9,0,0,16,2,2,0,6
Tilapia,110,20,2.5,4,30,1,360,10,0,0,22,0,2,0,2
Tuna,130,15,1.5,2,40,2,480,14,0,0,26,2,2,2,4

In [8]:
y

Food
Asparagus      Vegetables
Bell Pepper    Vegetables
Broccoli       Vegetables
Carrot         Vegetables
Cauliflower    Vegetables
                  ...
Scallops          Seafood
Shrimp            Seafood
Swordfish         Seafood
Tilapia           Seafood
Tuna              Seafood
Name: Food Type, Length: 61, dtype: object

In [9]:
# split our dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state= 32)

In [10]:
X_train

,Calories,Calories from Fat,Total Fat,Total Fat.1,Sodium,Sodium.1,Potassium,Potassium.1,Total Carbo-hydrate,Total Carbo-hydrate.1,Protein,Vitamin A,Vitamin C,Calcium,Iron
Food,,,,,,,,,,,,,,,
Summer Squash,20,0,0.0,0,0,0,260,7,4,1,1,6,30,2,2
Orange Roughy,80,5,1.0,2,70,3,340,10,0,0,16,2,0,4,2
Ocean Perch,110,20,2.0,3,95,4,290,8,0,0,21,0,2,10,4
Potato,110,0,0.0,0,0,0,620,18,26,9,3,0,45,2,6
Cucumber,10,0,0.0,0,0,0,140,4,2,1,1,4,10,2,2
Peach,60,0,0.5,1,0,0,230,7,15,5,1,6,15,0,2
Asparagus,20,0,0.0,0,0,0,230,7,4,1,2,10,15,2,2
Radishes,10,0,0.0,0,55,2,190,5,3,1,0,0,30,2,2
Nectarine,60,5,0.5,1,0,0,250,7,15,5,1,8,15,0,2
Tangerine,50,0,0.0,0,0,0,160,5,13,4,1,6,45,4,0
Lime,20,0,0.0,0,0,0,75,2,7,2,0,0,35,0,0
Honeydew Melon,50,0,0.0,0,30,1,210,6,12,4,1,2,45,2,2
Catfish,130,60,6.0,9,40,2,230,7,0,0,17,0,0,0,0
Pear,100,0,0.0,0,0,0,190,5,26,9,1,0,10,2,0
Lobster,80,0,0.5,1,320,13,300,9,1,0,17,2,0,6,2
Onion,45,0,0.0,0,5,0,190,5,11,4,1,0,20,4,4
Swordfish,120,50,6.0,9,100,4,310,9,0,0,16,2,2,0,6
Pollock,90,10,1.0,2,110,5,370,11,0,0,20,2,0,0,2
Strawberries,50,0,0.0,0,0,0,170,5,11,4,1,0,160,2,2
Apple,130,0,0.0,0,0,0,260,7,34,11,1,2,8,2,2
Iceberg Lettuce,10,0,0.0,0,10,0,125,4,2,1,1,6,6,2,2
Sweet Potato,100,0,0.0,0,70,3,440,13,23,8,2,120,30,4,4
Scallops,140,10,1.0,2,310,13,430,12,5,2,27,2,0,4,14
Plums,70,0,0.0,0,0,0,230,7,19,6,1,8,10,0,2
Pineapple,50,0,0.0,0,10,0,120,3,13,4,1,2,50,2,2
Bell Pepper,25,0,0.0,0,40,2,220,6,6,2,1,4,190,2,4
Rainbow Trout,140,50,6.0,9,35,1,370,11,0,0,20,4,4,8,2
Sweet Corn,90,20,2.5,4,0,0,250,7,18,6,4,2,10,0,2
Leaf Lettuce,15,0,0.0,0,35,1,170,5,2,1,1,130,6,2,4
Cauliflower,25,0,0.0,0,30,1,270,8,5,2,2,0,100,2,2
Green Onion,10,0,0.0,0,10,0,70,2,2,1,0,2,8,2,2
Clams,110,15,1.5,2,95,4,470,13,6,2,17,10,0,8,30
Sweet Cherries,100,0,0.0,0,0,0,350,10,26,9,1,2,15,2,2
Carrot,30,0,0.0,0,60,3,250,7,7,2,1,110,10,2,2
Grapes,90,0,0.0,0,15,1,240,7,23,8,0,0,2,2,0
Green (Snap) Beans,20,0,0.0,0,0,0,200,6,5,2,1,4,10,4,2
Tomato,25,0,0.0,0,20,1,340,10,5,2,1,20,40,2,4
Grapefruit,60,0,0.0,0,0,0,160,5,15,5,1,35,100,4,0
"Salmon, Atlantic/Coho/Sockeye /Chinook",200,90,10.0,15,55,2,430,12,0,0,24,4,4,2,2
Celery,15,0,0.0,0,115,5,260,7,4,1,0,10,15,4,2
Cod,90,5,1.0,2,65,3,460,13,0,0,20,0,2,2,2
Cantaloupe,50,0,0.0,0,20,1,240,7,12,4,1,120,80,2,2

In [11]:
X_test

,Calories,Calories from Fat,Total Fat,Total Fat.1,Sodium,Sodium.1,Potassium,Potassium.1,Total Carbo-hydrate,Total Carbo-hydrate.1,Protein,Vitamin A,Vitamin C,Calcium,Iron
Food,,,,,,,,,,,,,,,
Halibut,120,15,2.0,3,60,3,500,14,0,0,23,4,0,2,6
Mushrooms,20,0,0.0,0,15,0,300,9,3,1,3,0,2,0,2
Tuna,130,15,1.5,2,40,2,480,14,0,0,26,2,2,2,4
Rockfish,110,15,2.0,3,70,3,440,13,0,0,21,4,0,2,2
Avocado,50,35,4.5,7,0,0,140,4,3,1,1,0,4,0,2
Shrimp,100,10,1.5,2,240,10,220,6,0,0,21,4,4,6,10
"Salmon, Pink",130,40,4.0,6,65,3,420,12,0,0,22,2,0,2,4
Flounder/Sole,100,15,1.5,2,100,4,390,11,0,0,19,0,0,2,0
Lemon,15,0,0.0,0,0,0,75,2,5,2,0,0,40,2,0
Banana,110,0,0.0,0,0,0,450,13,30,10,1,2,15,0,2
Kiwifruit,90,10,1.0,2,0,0,450,13,20,7,1,2,240,4,2
Orange,80,0,0.0,0,0,0,250,7,19,6,1,2,130,6,0
Green Cabbage,25,0,0.0,0,20,1,190,5,5,2,1,0,70,4,2
Broccoli,45,0,0.5,1,80,3,460,13,8,3,4,6,220,6,6
Tilapia,110,20,2.5,4,30,1,360,10,0,0,22,0,2,0,2
Haddock,100,10,1.0,2,85,4,340,10,0,0,21,2,0,2,6
Watermelon,80,0,0.0,0,0,0,270,8,21,7,1,30,25,2,4
Oysters,100,35,4.0,6,300,13,220,6,6,2,10,0,6,6,45
Blue Crab,100,10,1.0,2,330,14,300,9,0,0,20,0,4,10,4

In [12]:
y_train

Food
Summer Squash                             Vegetables
Orange Roughy                                Seafood
Ocean Perch                                  Seafood
Potato                                    Vegetables
Cucumber                                  Vegetables
Peach                                         Fruits
Asparagus                                 Vegetables
Radishes                                  Vegetables
Nectarine                                     Fruits
Tangerine                                     Fruits
Lime                                          Fruits
Honeydew Melon                                Fruits
Catfish                                      Seafood
Pear                                          Fruits
Lobster                                      Seafood
Onion                                     Vegetables
Swordfish                                    Seafood
Pollock                                      Seafood
Strawberries                                  Fruits
Apple                                         Fruits
Iceberg Lettuce                           Vegetables
Sweet Potato                              Vegetables
Scallops                                     Seafood
Plums                                         Fruits
Pineapple                                     Fruits
Bell Pepper                               Vegetables
Rainbow Trout                                Seafood
Sweet Corn                                Vegetables
Leaf Lettuce                              Vegetables
Cauliflower                               Vegetables
Green Onion                               Vegetables
Clams                                        Seafood
Sweet Cherries                                Fruits
Carrot                                    Vegetables
Grapes                                        Fruits
Green (Snap) Beans                        Vegetables
Tomato                                    Vegetables
Grapefruit                                    Fruits
Salmon, Atlantic/Coho/Sockeye /Chinook       Seafood
Celery                                    Vegetables
Cod                                          Seafood
Cantaloupe                                    Fruits
Name: Food Type, dtype: object

In [13]:
y_test

Food
Halibut             Seafood
Mushrooms        Vegetables
Tuna                Seafood
Rockfish            Seafood
Avocado              Fruits
Shrimp              Seafood
Salmon, Pink        Seafood
Flounder/Sole       Seafood
Lemon                Fruits
Banana               Fruits
Kiwifruit            Fruits
Orange               Fruits
Green Cabbage    Vegetables
Broccoli         Vegetables
Tilapia             Seafood
Haddock             Seafood
Watermelon           Fruits
Oysters             Seafood
Blue Crab           Seafood
Name: Food Type, dtype: object