In [1]:
# Import librararies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# load the dataset

data = pd.read_csv('car_data.csv')
data.head()

,name,year,selling_price,km_driven,mileage,engine,max_power
0,Maruti Swift Dzire VDI,2014,450000,145500,23.40,1248.0,74.00
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.14,1498.0,103.52
2,Honda City 2017-2020 EXi,2006,158000,140000,17.70,1497.0,78.00
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.00,1396.0,90.00
4,Maruti Swift VXI BSIII,2007,130000,120000,16.10,1298.0,88.20